/* Your code goes below here */
#main-heading {
    color: darkcyan;
}

#paragraph-tag {
    color: crimson;
}

.font-blue {
    color: blue;
}

.container {
    background-color: blueviolet;
    color:cornsilk;
    border:1px solid crimson;
    padding:30px;
    border-radius:10px;
}
/* Your code goes above here */