p em {
    font-size: 28px;
  }
  p strong {
    font-size: 32px;
  }
  ul strong{
      background-color: firebrick;
      color: gold;
  }
  ul em{ 
      background-color: gray;
      color: greenyellow;
  }
